body {
    background-color: #640d14;
}

header {
    background-color: #38040e;

}

ul {
    color: #fff;
    display: flex;

}
li {
    list-style: none;

}
.img.logo {
    position: absolute;
    
    
    
}